@import '../../assets/variables/variables.scss';

.projects-page {
  margin-top: -10%;
  .projects-list {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    background:
    /* Shadow Cover TOP */ linear-gradient(
          $secondary-color 30%,
          rgba(255, 255, 255, 0)
        )
        center top,
      /* Shadow Cover BOTTOM */
        linear-gradient(rgba(255, 255, 255, 0), $secondary-color 70%) center
        bottom,
      /* Shadow TOP */
        radial-gradient(
          farthest-side at 50% 0,
          rgba($primary-color, 0.5),
          rgba(0, 0, 0, 0)
        )
        center top,
      /* Shadow BOTTOM */
        radial-gradient(
          farthest-side at 50% 100%,
          rgba($primary-color, 0.5),
          rgba(0, 0, 0, 0)
        )
        center bottom;

    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 18px, 100% 18px;
    background-attachment: local, local, scroll, scroll;

    .single-project {
      p {
        animation: none;
        h2 {
          margin-bottom: 10px;
        }
      }
    }
  }

  a {
    text-transform: uppercase;
  }
}

//SCROLL BAR

.projects-list {
  --scrollbarBG: transparent;
  --thumbBG: #90a4ae;

  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.projects-list::-webkit-scrollbar {
  width: 6px;
}
.projects-list::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.projects-list::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

//

@media (min-width: 768px) {
  .projects-page {
    margin-top: 0;
  }
}

.projects-list {
  max-height: 300px;
  overflow: auto;

  background:
    /* Shadow Cover TOP */ linear-gradient(
        white 30%,
        rgba(255, 255, 255, 0)
      )
      center top,
    /* Shadow Cover BOTTOM */ linear-gradient(rgba(255, 255, 255, 0), white 70%)
      center bottom,
    /* Shadow TOP */
      radial-gradient(
        farthest-side at 50% 0,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      center top,
    /* Shadow BOTTOM */
      radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      center bottom;

  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
