@import '../../assets/variables/variables.scss';

.contact-form {
  width: 100%;
  margin-top: 20px;

  .contact-form__top {
    display: flex;
    flex-direction: row;
    gap: 10px;
    li {
      width: 100%;
    }
  }
  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    color: $primary-color;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid $primary-color;
    float: right;
    border-radius: 4px;

    &:hover {
      color: $secondary-color;
      background-color: $primary-color;
    }
  }
}

.info-map {
  position: absolute;
  background-color: #000;
  top: 50px;
  right: 35%;
  z-index: 99999;
  width: 267px;
  padding: 20px;
  color: #fff;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 300;
  opacity: 0;

  span {
    font-size: 16px;
    display: block;
    padding-top: 20px;
    color: $primary-color;
  }
}

@media (min-width: 678px) {
  .info-map {
    position: absolute;
    background-color: #000;
    top: 1%;
    right: 1%;
    z-index: 99999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 300;
    opacity: 1;

    span {
      font-size: 16px;
      display: block;
      padding-top: 20px;
      color: $primary-color;
    }
  }
}
@media (min-width: 992px) {
  .info-map {
    position: absolute;
    background-color: #000;
    top: 1%;
    right: 30%;
    z-index: 99999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 300;
    opacity: 1;

    span {
      font-size: 16px;
      display: block;
      padding-top: 20px;
      color: $primary-color;
    }
  }
}
